{% extends 'base.html' %}
{% block content %}
<h1>BOGGLE</h1>

<table id="b-table">
    <tbody>
        {% for row in board %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<form method="POST" action="/check_word" class="add-word" id="submit-form">
    <h2></h2>
    <input placeholder="word" name="word" id="ch-word" autofocus>
    <button>Submit</button>
</form>

<div class="score">
    
</div>
<div class="guesses">
    <h3>Guesses</h3>
</div>

<script>
    // let game = new BoggleGame("boggle", 60);
</script>

{% endblock %}